@media screen and (max-width:992px) {
    .banner .banner-title {
        font-size: 2.8em;
    }
    #tours-area {
        margin-top: -130px;
    }
}

@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }
    .menu {
        display: block;
    }
    .banner .banner-title {
        font-size: 2.5em;
    }
    .tours {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;
    }
}

@media screen and (max-width:420px) {
    .banner .banner-title {
        font-size: 2em;
    }
    .menu {
        margin: 10px 30px;
    }
    .tours {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
    }
    #tours-area {
        margin-top: -140px;
    }
}

@media screen and (max-width:320px) {
    .banner .banner-title {
        font-size: 1.5em;
    }
    #tours-area {
        margin-top: -150px;
    }
}