{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-ui/jquery-ui.min.css' %}">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/modal-video/modal-video.min.css' %}">
    <!-- light box css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/lightbox/dist/css/lightbox.min.css' %}">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/slick/slick-theme.css' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Haj va Umra ziyoratlari </title>
</head>

<body class="home">

    <div id="page" class="full-page">
        <header id="masthead" class="site-header header-primary">
            <!-- header html start -->
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 d-none d-lg-block">
                            <div class="header-contact-info">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-phone-alt"></i> +99893 789 45 61</a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> travel@andijan.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> Buyuk Turon 21 , Andijan
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
                            <div class="header-social social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="header-search-icon">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-header">
                <div class="container d-flex justify-content-between align-items-center">
                    <div class="site-identity">
                        <h1 class="site-title">
                            <a href="index.html">
                                <img src="{% static 'assets/images/travele-logo.png' %}" alt="logo">
                            </a>
                        </h1>
                    </div>
                    <div class="main-navigation d-none d-lg-block">
                        <nav id="navigation" class="navigation">
                            <ul>
                                <li class="menu-item">
                                    <a href="/">Bosh sahifa</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Turlar</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Top taklif</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Aloqa</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="header-btn">
                        <select name="lang" id="lang">
                            <option value="uz">Uzbek</option>
                            <option value="ru">Russian</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-container"></div>
        </header>
        <main id="content" class="site-main">
            <!-- Home slider html start -->
            <section class="home-slider-section">
                <div class="home-slider">
                    <div class="home-banner-items">
                        <div class="banner-inner-wrap" id="xaj"></div>
                        <div class="banner-content-wrap">
                            <div class="container">
                                <div class="banner-content text-center">
                                    <h2 class="banner-title">HAJ VA UMRA ZIYORATI</h2>
                                    <p>Muqaddas zaminlarga bizning qulay va arzon xizmatlarimiz orqali ziyorat va ibodat safarlarini uyushtiring.</p>
                                    <a href="#" class="button-primary">TA'RIFLAR</a>
                                </div>
                            </div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="home-banner-items">
                        <div class="banner-inner-wrap" id="uzb"></div>
                        <div class="banner-content-wrap">
                            <div class="container">
                                <div class="banner-content text-center">
                                    <h2 class="banner-title">O'ZBEKISTON BO'YLAB SAYOHAT</h2>
                                    <p>O'zbekistonni bizning ajoyib turlarimiz orqali ko'hna va boqiy shaharlariga sayohat qiling.</p>
                                    <a href="#" class="button-primary">TA'RIFLAR</a>
                                </div>
                            </div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </section>
            <!-- slider html start -->
            <br>
            <section class="destination-section">
                <div class="container">
                    <div class="section-heading">
                        <div class="row align-items-end">
                            <div class="col-lg-7">
                                <h5 class="dash-style">Ommabop turlarimiz</h5>
                                <h2>MASHXUR TURLAR</h2>
                            </div>
                            <div class="col-lg-5">
                                <div class="section-disc">
                                    Aperiam sociosqu urna praesent, tristique, corrupti condimentum asperiores platea ipsum ad arcu. Nostrud. Aut nostrum, ornare quas provident laoreet nesciunt.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="destination-inner destination-three-column">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="desti-item overlay-desti-item">
                                            <figure class="desti-image">
                                                <img src="{% static 'assets/images/322x555mekkah.jpg' %}" alt="">
                                            </figure>
                                            <div class="meta-cat bg-meta-cat">
                                                <a href="#">Haj ibodati</a>
                                            </div>
                                            <div class="desti-content">
                                                <h3>
                                                    <a href="#">Makka, Madina</a>
                                                </h3>
                                                <div class="rating-start" title="Rated 5 out of 4">
                                                    <span style="width: 53%"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="desti-item overlay-desti-item">
                                            <figure class="desti-image">
                                                <img src="{% static 'assets/images/322x555medina.jpg' %}" alt="">
                                            </figure>
                                            <div class="meta-cat bg-meta-cat">
                                                <a href="#">Umra ziyorati</a>
                                            </div>
                                            <div class="desti-content">
                                                <h3>
                                                    <a href="#">Madina, Makka</a>
                                                </h3>
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: 100%"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-md-6 col-xl-12">
                                        <div class="desti-item overlay-desti-item">
                                            <figure class="desti-image">
                                                <img src="{% static 'assets/images/460x255uz.jpg' %}" alt="">
                                            </figure>
                                            <div class="meta-cat bg-meta-cat">
                                                <a href="#">Yurtimiz bo'ylab</a>
                                            </div>
                                            <div class="desti-content">
                                                <h3>
                                                    <a href="#">Samarqand, Buxoro</a>
                                                </h3>
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: 100%"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-12">
                                        <div class="desti-item overlay-desti-item">
                                            <figure class="desti-image">
                                                <img src="{% static 'assets/images/460x255xiva.jpg' %}" alt="">
                                            </figure>
                                            <div class="meta-cat bg-meta-cat">
                                                <a href="#">Yurtimiz bo'ylab</a>
                                            </div>
                                            <div class="desti-content">
                                                <h3>
                                                    <a href="#">Xiva,Samarqand</a>
                                                </h3>
                                                <div class="rating-start" title="Rated 5 out of 4">
                                                    <span style="width: 60%"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="btn-wrap text-center">
                            <a href="#" class="button-primary text-uppercase">Ko'proq ma'lumot olish</a>
                        </div> -->
                    </div>
                </div>
            </section>
            <!-- Home packages section html start -->
            <section class="package-section">
                <div class="container">
                    <div class="section-heading text-center">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <h5 class="dash-style">NARXLAR</h5>
                                <h2>BIZNING TARIFLARIMIZ</h2>
                                <p>Barcha yo‘nalish va turlarga hamyonbop narxlarni kafolat beramiz. Biz bilan arzonroq.</p>
                            </div>
                        </div>
                    </div>
                    <div class="package-inner">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="package-wrap">
                                    <figure class="feature-image">
                                        <a href="#">
                                            <img src="{% static 'assets/images/365x305m.jpg' %}" alt="">
                                        </a>
                                    </figure>
                                    <div class="package-price">
                                        <h6>
                                            <span>$4,900 </span> / 1 kishi
                                        </h6>
                                    </div>
                                    <div class="package-content-wrap">
                                        <div class="package-meta text-center">
                                            <ul>
                                                <li>
                                                    <i class="far fa-clock"></i> 25k/26k
                                                </li>
                                                <li>
                                                    <i class="fas fa-user-friends"></i> Guruhda: 50
                                                </li>
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i> Makka
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="package-content">
                                            <h3>
                                                <a href="#">Haj ibodatini biz bilan ado eting.</a>
                                            </h3>
                                            <div class="review-area">
                                                <span class="review-text">(123 ko'rildi)</span>
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: 100%"></span>
                                                </div>
                                            </div>
                                            <p>Haj ibodatini biz bilan hamyonbop narxlar asosida ado eting, biz sizga eng qulay sharoitlarni taklif etamiz.</p>
                                            <div class="btn-wrap">
                                                <a href="#" class="button-text width-6">Buyurtma berish<i class="fas fa-arrow-right"></i></a>
                                                <a href="#" class="button-text width-6">Ko'proq ma'lumot<i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="package-wrap">
                                    <figure class="feature-image">
                                        <a href="#">
                                            <img src="{% static 'assets/images/mosquenabavi.jpg' %}" alt="">
                                        </a>
                                    </figure>
                                    <div class="package-price">
                                        <h6>
                                            <span>$1,900 </span> / 1 kishi
                                        </h6>
                                    </div>
                                    <div class="package-content-wrap">
                                        <div class="package-meta text-center">
                                            <ul>
                                                <li>
                                                    <i class="far fa-clock"></i> 25k/26k
                                                </li>
                                                <li>
                                                    <i class="fas fa-user-friends"></i> Guruhda: 10
                                                </li>
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i> Madina
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="package-content">
                                            <h3>
                                                <a href="#">Umra ziyorati uchun ajoyib narx</a>
                                            </h3>
                                            <div class="review-area">
                                                <span class="review-text">(193 ko'rildi)</span>
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: 100%"></span>
                                                </div>
                                            </div>
                                            <p>Umra ziyoratini biz bilan hamyonbop narxlar asosida ado eting, biz sizga eng qulay sharoitlarni taklif etamiz.</p>
                                            <div class="btn-wrap">
                                                <a href="#" class="button-text width-6">Buyurtma berish<i class="fas fa-arrow-right"></i></a>
                                                <a href="#" class="button-text width-6">Ko'proq ma'lumot<i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="package-wrap">
                                    <figure class="feature-image">
                                        <a href="#">
                                            <img src="{% static 'assets/images/365x305uz.jpg' %}" alt="">
                                        </a>
                                    </figure>
                                    <div class="package-price">
                                        <h6>
                                            <span>$500 </span> / 1 kishi
                                        </h6>
                                    </div>
                                    <div class="package-content-wrap">
                                        <div class="package-meta text-center">
                                            <ul>
                                                <li>
                                                    <i class="far fa-clock"></i> 7k/6k
                                                </li>
                                                <li>
                                                    <i class="fas fa-user-friends"></i> Guruhda: 15
                                                </li>
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i> Samarqand
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="package-content">
                                            <h3>
                                                <a href="#">Ko'hna Samarqandni qaytadan kash qiling!.</a>
                                            </h3>
                                            <div class="review-area">
                                                <span class="review-text">(823 ko'rildi)</span>
                                                <div class="rating-start" title="Rated 5 out of 5">
                                                    <span style="width: 60%"></span>
                                                </div>
                                            </div>
                                            <p>Ko'hna va boqiy shahrlarimizga kichik guruhlar orqali esda qolarli sayohat uyushtiramiz.</p>
                                            <div class="btn-wrap">
                                                <a href="#" class="button-text width-6">Buyurtma berish<i class="fas fa-arrow-right"></i></a>
                                                <a href="#" class="button-text width-6">Ko'proq ma'lumot<i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="activity-section">
                <div class="container">
                    <div class="section-heading text-center">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <h5 class="dash-style">USTUNLIKLARIMIZ</h5>
                                <h2>NIMA UCHUN BIZ ?</h2>
                                <p>Nega aynan bizni tanlashingiz kerak ? Aynan shu savollarga quyida biz afzalliklarimizni keltirib o'tdik!</p>
                            </div>
                        </div>
                    </div>
                    <div class="activity-inner row">
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/travel.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">Eng yaxshi turlar</a>
                                    </h4>
                                    <!-- <p>15 xil turlar</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/time.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">Tezkor bronlashtirish</a>
                                    </h4>
                                    <!-- <p>12 Destination</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/money.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">Hamyonbop narxlar</a>
                                    </h4>
                                    <!-- <p>7 Destination</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/passport.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">Vizani qo'llab quvvatlash</a>
                                    </h4>
                                    <!-- <p>15 Destination</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/hotel.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">Eng yaxshi mehmonxonalar</a>
                                    </h4>
                                    <!-- <p>13 Destination</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="activity-item">
                                <div class="activity-icon">
                                    <a href="#">
                                        <img src="{% static 'assets/images/icons/availability.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <h4>
                                        <a href="#">24/7 xizmat ko'rsatish</a>
                                    </h4>
                                    <!-- <p>25 Destination</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- activity html end -->
            <!-- Home special section html start -->
            <!-- <section class="special-section">
                <div class="container">
                    <div class="section-heading text-center">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <h5 class="dash-style">TRAVEL OFFER & DISCOUNT</h5>
                                <h2>SPECIAL TRAVEL OFFER</h2>
                                <p>Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit, blandit torquent, odit placeat. Adipiscing repudiandae eius cursus? Nostrum magnis maxime curae placeat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="special-inner">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="special-item">
                                    <figure class="special-img">
                                        <img src="assets/images/img9.jpg" alt="">
                                    </figure>
                                    <div class="badge-dis">
                                        <span>
                                            <strong>20%</strong>
                                            off
                                        </span>
                                    </div>
                                    <div class="special-content">
                                        <div class="meta-cat">
                                            <a href="#">CANADA</a>
                                        </div>
                                        <h3>
                                            <a href="#">Experience the natural beauty of glacier</a>
                                        </h3>
                                        <div class="package-price">
                                            Price:
                                            <del>$1500</del>
                                            <ins>$1200</ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="special-item">
                                    <figure class="special-img">
                                        <img src="assets/images/img10.jpg" alt="">
                                    </figure>
                                    <div class="badge-dis">
                                        <span>
                                            <strong>15%</strong>
                                            off
                                        </span>
                                    </div>
                                    <div class="special-content">
                                        <div class="meta-cat">
                                            <a href="#">NEW ZEALAND</a>
                                        </div>
                                        <h3>
                                            <a href="#">Trekking to the mountain camp site</a>
                                        </h3>
                                        <div class="package-price">
                                            Price:
                                            <del>$1300</del>
                                            <ins>$1105</ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="special-item">
                                    <figure class="special-img">
                                        <img src="assets/images/img11.jpg" alt="">
                                    </figure>
                                    <div class="badge-dis">
                                        <span>
                                            <strong>15%</strong>
                                            off
                                        </span>
                                    </div>
                                    <div class="special-content">
                                        <div class="meta-cat">
                                            <a href="#">MALAYSIA</a>
                                        </div>
                                        <h3>
                                            <a href="#">Sunset view of beautiful lakeside city</a>
                                        </h3>
                                        <div class="package-price">
                                            Price:
                                            <del>$1800</del>
                                            <ins>$1476</ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- special html end -->
            <!-- Home special section html start -->
            <section class="best-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="section-heading">
                                <h5 class="dash-style">BIZNING FOTO GALLEREYAMIZ</h5>
                                <h2>ZIYORATCHILAR YUBORGAN FOTOLAR</h2>
                                <p>Bizning xizmatlardan foydalanib mamnun bo'lgan xaridorlarimiz o'z turlaridan yuborgan fotolar. Siz ham albatta bizga o'z turingizda esda qolarlik onlarni foto shaklida bizga yuboring!</p>
                            </div>
                            <figure class="gallery-img">
                                <img src="{% static 'assets/images/gallery3.jpg' %}" alt="">
                            </figure>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-sm-6">
                                    <figure class="gallery-img">
                                        <img src="{% static 'assets/images/gallery2.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="col-sm-6">
                                    <figure class="gallery-img">
                                        <img src="{% static 'assets/images/gallery1.jpg' %}" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <figure class="gallery-img">
                                        <img src="{% static 'assets/images/gallery4.jpg' %}" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- best html end -->
            <!-- Home client section html start -->
            <div class="client-section">
                <div class="container">
                    <div class="client-wrap client-slider secondary-bg">
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="client-item">
                            <figure>
                                <img src="{% static 'assets/images/turizm-logo.png' %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!-- client html end -->
            <!-- Home subscribe section html start -->
            <section class="subscribe-section" style="background-image: url({% static 'assets/images/footer-bg.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="section-heading section-heading-white">
                                <h5 class="dash-style">YANADA KO'PROQ MA'LUMOT KERAKMI ?</h5>
                                <h2>SAVOLLARINGIZ QOLDIMI ?</h2>
                                <h4>Bizga telefon raqamingizni qoldiring va biz sizga o'zimiz qo'ng'iroq qilamiz!</h4>
                                <div class="newsletter-form">
                                    <form>
                                        <input type="number" name="s" placeholder="Telefon raqamingiz">
                                        <input type="submit" name="signup" value="QO'NG'IROQ QILING!">
                                    </form>
                                </div>
                                <p>Ayrim sabablarga ko'ra qo'ng'iroq vaqti kechikishi mumkin, iltimos davlat tashkilotlaridagi ish vaqtlarini inobatga olgan holatda qo'ng'iroq buyurtma qiling.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br><br>
            <div class="testimonial-section" style="background-image: url(assets/images/img23.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="testimonial-inner testimonial-slider">
                                <div class="testimonial-item text-center">
                                    <figure class="testimonial-img">
                                        <img src="{% static 'assets/images/gallery1.jpg' %}" alt="">
                                    </figure>
                                    <div class="testimonial-content">
                                        <p>" Travelo tur xizmatidan minnatdormiz, ayolim bilan umra safarlarini ado etdik, narxlari yoqdi qolganlarga ham tavsiya qilamiz."</p>
                                        <cite>
                                            Abdulloh Abdullayev
                                            <span class="company">Ziyoratchi</span>
                                        </cite>
                                    </div>
                                </div>
                                <div class="testimonial-item text-center">
                                    <figure class="testimonial-img">
                                        <img src="{% static 'assets/images/gallery1.jpg' %}" alt="">
                                    </figure>
                                    <div class="testimonial-content">
                                        <p>" Travelo tur xizmatidan minnatdormiz, ayolim bilan umra safarlarini ado etdik, narxlari yoqdi qolganlarga ham tavsiya qilamiz."</p>
                                        <cite>
                                            Abdulloh Abdullayev
                                            <span class="company">Ziyoratchi</span>
                                        </cite>
                                    </div>
                                </div>
                                <div class="testimonial-item text-center">
                                    <figure class="testimonial-img">
                                        <img src="{% static 'assets/images/gallery1.jpg' %}" alt="">
                                    </figure>
                                    <div class="testimonial-content">
                                        <p>" Travelo tur xizmatidan minnatdormiz, ayolim bilan umra safarlarini ado etdik, narxlari yoqdi qolganlarga ham tavsiya qilamiz."</p>
                                        <cite>
                                            Abdulloh Abdullayev
                                            <span class="company">Ziyoratchi</span>
                                        </cite>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- testimonial html end -->
            <!-- Home contact details section html start -->
            <section class="contact-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-img">
                                <div style="position:relative;overflow:hidden;border:none;"><a href="https://yandex.uz/maps/org/65337590630/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Yoshlar texnoparki</a><a href="https://yandex.uz/maps/10329/andijan/category/it/184106174/?utm_medium=mapframe&utm_source=maps"
                                        style="color:#eee;font-size:12px;position:absolute;top:14px;">IT-компания в Андижане</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUJ58e3kC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="contact-details-wrap">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="contact-details">
                                            <div class="contact-icon">
                                                <img src="{% static 'assets/images/icon12.png' %}" alt="">
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="#">travel@gmail.com</a>
                                                </li>
                                                <li>
                                                    <a href="#">travel@domain.com</a>
                                                </li>
                                                <li>
                                                    <a href="#">travel@company.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="contact-details">
                                            <div class="contact-icon">
                                                <img src="{% static 'assets/images/icon13.png' %}" alt="">
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="#">+132 (599) 254 669</a>
                                                </li>
                                                <li>
                                                    <a href="#">+123 (669) 255 587</a>
                                                </li>
                                                <li>
                                                    <a href="#">+01 (977) 2599 12</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="contact-details">
                                            <div class="contact-icon">
                                                <img src="{% static 'assets/images/icon14.png' %}" alt="">
                                            </div>
                                            <ul>
                                                <li>
                                                    000 O'rikzor ko'cha, Andijon
                                                </li>
                                                <li>
                                                    000 O'rikzor ko'cha, Andijon
                                                </li>
                                                <li>
                                                    000 O'rikzor ko'cha, Andijon
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!--  contact details html end -->
        </main>
        <footer id="colophon" class="site-footer footer-primary">

            <div class="buttom-footer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="footer-menu">
                                <ul>
                                    <li>
                                        <a href="#">Buyurtma va Ariza namunalari</a>
                                    </li>
                                    <li>
                                        <a href="#">Haj va Umra uchun kerakli hujjatlar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="footer-logo">
                                <a href="#"><img src="assets/images/travele-logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="copy-right text-right">Copyright © 2021 Travele. All rights reserveds</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- custom search field html -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- header html end -->
    </div>

    <!-- JavaScript -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/vendors/countdown-date-loop-counter/loopcounter.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.js' %}"></script>
    <script src="{% static 'assets/vendors/modal-video/jquery-modal-video.min.js' %}"></script>
    <script src="{% static 'assets/vendors/masonry/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendors/lightbox/dist/js/lightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendors/slick/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/custom.min.js' %}"></script>
</body>

</html>